.paragraph {
  display: flex;
  font-size: 40px; /* Increased font size */
  line-height: 1.2; /* Adjusted line height */
  padding: 40px;
  max-width: 100%; /* Changed from fixed width to percentage */
  color: black;
  flex-wrap: wrap;
  overflow-wrap: break-word; /* Ensures words break if they're too long */
  word-break: break-word; /* Additional property for word breaking */
}

.paragraph .word {
  position: relative;
  margin-right: 12px;
  margin-top: 12px;
  display: inline-block; /* Changed from inline to inline-block */
}

.paragraph .word .shadow {
  position: absolute;
  opacity: 20%;
}